## Deliverable 3. Create a Travel Itinerary Map.

In [117]:
# Dependencies and Setup
import gmaps
import gmaps.datasets
import os
import sys
sys.path.append(os.path.join(os.path.dirname(sys.path[0])))
import pandas as pd
import requests
import gmaps
from config import g_key
print(sys.path)
 #Import API key
 #this is to import API Keys
#Configure gmaps
gmaps.configure(api_key=g_key)

['/Users/Mark/Desktop/Analysis Projects/World_Weather_Analysis/Vacation_Itinerary', '/Users/Mark/opt/anaconda3/lib/python38.zip', '/Users/Mark/opt/anaconda3/lib/python3.8', '/Users/Mark/opt/anaconda3/lib/python3.8/lib-dynload', '', '/Users/Mark/opt/anaconda3/lib/python3.8/site-packages', '/Users/Mark/opt/anaconda3/lib/python3.8/site-packages/aeosa', '/Users/Mark/opt/anaconda3/lib/python3.8/site-packages/IPython/extensions', '/Users/Mark/.ipython', '/Users/Mark/Desktop/Analysis Projects/World_Weather_Analysis', '/Users/Mark/Desktop/Analysis Projects/World_Weather_Analysis']

In [118]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
#file_to_load=os.path.join(os.getcwd(),"WeatherPy_vacation.csv")
file_to_load="/Users/Mark/Desktop/Analysis Projects/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv"
vacation_df = pd.read_csv(file_to_load)
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,1,Bengkulu,ID,74.91,overcast clouds,-3.80,102.27,Grage Hotel Bengkulu
1,10,Menongue,AO,66.78,broken clouds,-14.66,17.69,Ritz Lauca
2,14,Pinotepa Nacional,MX,70.66,broken clouds,16.32,-98.02,Hotel Maria Del Carmen
3,15,Hilo,US,73.40,light rain,19.73,-155.09,Hilo Hawaiian Hotel
4,24,Mayumba,GA,76.33,heavy intensity rain,-3.43,10.66,LIKWALE LODGE

In [119]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Description</dt><dd>{Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [120]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig
# 4b. Display the figure

Figure(layout=FigureLayout(height='420px'))

In [126]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="East London"]
vacation_end = vacation_df.loc[vacation_df["City"]=="East London"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Port Alfred"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Port Elizabeth"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Kruisfontein"]

In [127]:
vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
19,103,East London,ZA,68.0,clear sky,-33.02,27.91,Tu Casa

In [128]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
end = vacation_end[['Lat', 'Lng']].to_numpy() 
stop1 = vacation_stop1[['Lat', 'Lng']].to_numpy()
stop2 = vacation_stop2[['Lat', 'Lng']].to_numpy()
stop3 = vacation_stop3[['Lat', 'Lng']].to_numpy()
start=vacation_start[['Lat','Lng']].to_numpy()
start

array([[-33.02,  27.91]])

In [129]:
#Convert numpy array into list of tuples
first_stop=tuple(map(tuple, start))
last_stop=list(map(tuple,end))
second_stop=list(map(tuple, stop1))
third_stop=list(map(tuple, stop2))
fourth_stop=list(map(tuple, stop3))
first_stop

((-33.02, 27.91),)

In [130]:
Trip_Beginning=first_stop[0]
Trip_Ending=last_stop[0]
stop_2=second_stop[0]
stop_3=third_stop[0]
stop_4=fourth_stop[0]
print(Trip_Beginning, Trip_Ending, stop_2, stop_3, stop_4)

(-33.02, 27.91) (-33.02, 27.91) (-33.59, 26.89) (-33.92, 25.57) (-34.0, 24.73)

In [131]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig=gmaps.figure()
city_1=Trip_Beginning
city_2=stop_2
city_3=stop_3
city_4=stop_4
city_5=Trip_Ending

Hawaii_map=gmaps.directions_layer(
       city_1, city_5, waypoints=[city_2, city_3, city_4, city_5],
       travel_mode='DRIVING')
fig.add_layer(Hawaii_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [114]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,15,Bredasdorp,ZA,71.6,overcast clouds,-34.53,20.04,Bredasdorp Country Manor
1,16,Hermanus,ZA,70.0,overcast clouds,-34.42,19.23,Misty Waves Boutique Hotel
2,4,Cape Town,ZA,73.0,few clouds,-33.93,18.42,Southern Sun Waterfront Cape Town
3,8,Saldanha,ZA,71.6,overcast clouds,-33.01,17.94,Blue Bay Lodge
4,15,Bredasdorp,ZA,71.6,overcast clouds,-34.53,20.04,Bredasdorp Country Manor

In [115]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Description</dt><dd>{Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [132]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))